.my-custom-modal{
   width: 100%;
    max-width: 100%;
    margin: 0;
    transform: translateX(0%);
    border-radius: 0;
    height: 800px;
}
.column{

    flex: 1;
    columns: 2;
    
    
}
.bold-name{
    font-weight: bold;
    font-size: large;
}
