.Suggestion-Slot{
    background-color: #00A1E0;
    color: black;
    width: 100%;
    height:250px;
    max-width: 100%;
}
.heading{
    text-align: center;
    text-decoration: underline;
    font-size: large;
    
}
.Head{
    font-style: normal;
    font-weight: 200;
    font-size: large;
};